.App {
  text-align: center;
}
.header-container{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.App-header {
  font-size: 2em;
  color: white;
  margin: 1em;
}

.clickable{
  cursor: pointer;
}

.whiteColor{
  color: white;
}

/* YourPokemon */
.page-col{
  justify-content: center;
}

.info-container {
  color: white;
}

.big-name {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.no-left {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.page-leftside {
  width: 50%;
  height: 100%;
  left: 0;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  position: fixed;
  padding-top: 5em;
}


.page-rightside {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: fixed;
  right: 0;
  left: 52%;
  width: 50%;
  height: 100%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 2em;
}

.vl {
  border-left: 0.1em solid #1de9b6;
  height: 100%;
  position: absolute;
  overflow-y:auto;
  left: 50%;
  top: 0;
}

/* Card containers */
.cards-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 1em;
  margin-top: 5vmin;
}

.card {
  height: 7em;
  width: 7em;
  border: 0.1em solid #1de9b6;
  border-radius: 1em;
  align-items: center;
  cursor: pointer;
}

/*Pokemon Info*/
.pokemon-display-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemon-display-item {
  text-align: center;
  width: 7em;
  height: 7em;
  border-radius: 1em;
}

.pokemon-display-item-name {
  /*border: 0.1em solid #1de9b6;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 1.5em;
  width: 30%;
}

.margin{
  margin: 5%;
}

.right-margin{
  margin-right: 5em;
}

.pokemon-display-header{
  text-align: center;
  margin: 0 5px;
}

.nav-button {
  text-align: center;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10em;
  padding: 2em 4em;
  border: 0;
  color: white;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 3vmin;
  margin-left: 25%;
  margin-right: 12.5%;
}

/*Battle*/
.battle-container{
  /*border: 0.1em solid #1de9b6;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 50em;
}

.battle-item{
  /*border: 0.1em solid #1de9b6;*/
  display: inline-flex;
  justify-content: center;
  width: 50em;
  height: 10em;
}

.border{
  border: 0.1em solid #1de9b6;
}

.player-name{
  display: flex;
  justify-content: center;
  margin: 0.5em;
  width: 40%;
}

.top-margin{
  margin-top: 16%;
}

.battle-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 0.1em solid #1de9b6;*/
  border-radius: 1em;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.pokemon-move-box{
  /*border: 0.1em solid #1de9b6;*/
  height: 20%;
  margin-top: 0.2em;
}

.make-battle-container-upper{
  /*border: 0.1em solid #1de9b6;*/
  width: 50em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*flex-direction: column;*/
  /*text-align: center;*/
  margin-bottom: 5%;
  margin-top: 5%;
  /*width: 100px;*/
  height: 17em;
}

.make-battle-container{
  border: 0.1em solid #1de9b6;
  border-style: dashed;
  border-radius: 5em;
  width: 50em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 17em;
}

.make-battle-container-item{
  width: 15em;
}

.spread-column{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.enlarge-blocks{
  margin-bottom: 2em;
  margin-top: 2em ;
}

.left-text{
  text-align: left;
}

.right-text{
  text-align: right;
}

.bold-text{
  font-weight: bold;
}

.click-hover:hover {
  background: palegreen;
}

.click-hover-text:hover {
  color: palegreen;
}

.player-results{
  color: palegreen;
}

.timer{
  text-align: center;
  width: 100%;
  height: 1em;
}





