.App {
  text-align: center;
}
.header-container{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.App-header {
  font-size: 2em;
  color: white;
  margin: 1em;
  /*border-left: 0.1em solid #1de9b6;*/
}

/* YourPokemon */
.page-col{
  justify-content: center;
}

.info-container {
  color: white;
}

.big-name {
  color: white;
  font-size: 3em;
}

.no-left {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.page-leftside {
  width: 50%;
  height: 100%;
  left: 0;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  position: fixed;
  padding-top: 5em;
}


.page-rightside {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: fixed;
  right: 0;
  left: 52%;
  width: 50%;
  height: 100%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 2em;
}

.vl {
  border-left: 0.1em solid #1de9b6;
  height: 100%;
  position: absolute;
  overflow-y:auto;
  left: 50%;
  /*margin-left: -3px;*/
  top: 0;
}

/* Card containers */
.cards-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 1em;
}

.card {
  /*box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);*/
  height: 7em;
  width: 7em;
  border: 0.1em solid #1de9b6;
  border-radius: 1em;
  align-items: center;
  cursor: pointer;
}

/*Pokemon Info*/
.pokemon-display-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemon-display-item {
  text-align: center;
  width: 7em;
  height: 7em;
  /*margin: 0 1em;*/
  margin-right: 5em;
  border: 0.1em solid #1de9b6;
  border-radius: 1em;
}

.pokemon-display-header{
  text-align: center;
  margin: 0 5px;
}

.nav-button {
  text-align: center;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10em;
  padding: 2em 5em;
  border: 0;
  color: white;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 20px;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

/*Battle*/
.battle-container{
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  justify-content: space-between;
  margin: 5em;
}

.battle-item{
  border: 0.1em solid #1de9b6;
  display: inline-flex;
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  /*margin-top: 2em;*/
  /*margin-bottom: 2em;*/
}

.battle-info-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border: 0.1em solid #1de9b6;
  border-radius: 1em;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.pokemon-move-box{
  border: 0.1em solid #1de9b6;
  width: 30%;
  margin: 1em;
}

.clickable{
  cursor: pointer;
}

